*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-decoration: none;

}
header{
   font-family: 'Poppins', sans-serif;
   display: flex;
   height: 15vh;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.logo{
    height: 85px;
    width: 330px;
    display: flex;
}
.img-container{
    height: 100%;
    width: 100%;
}
.img-container img{
    height: 100%;
    width: 100%;
}
header aside{
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    font-family:'Poppins', sans-serif;
    font-size:xx-large;
    align-items: center;
    font-weight: bolder;
}

header aside ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

header aside ul li{
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    padding: 6px;
}

a:visited {
    color: aliceblue;
}

main{
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
    gap: 10px
}

.preguntas{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: blue;
    margin: auto;
    margin-top: 35px;
    padding: 5px;
    width: 60%;
    border-radius: 10px;
}
span{
    display: flex;
    flex-direction: column;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:blue;
    height: 175px;
    width: 60%;
    margin: auto;
    margin-top: 35px;
    background-color: aliceblue;
    border-radius: 10px;
}

.empresas-container{
    margin-top: 15px;
    height: 80px;
    color:blue;
}

.empresas-container img{
    height: 100%;
    width: 100%;
}

.objetivo-container{
    height: 300px;
    width: 900px;
    font-family:'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    background-color: aliceblue;
    color: blue;
    border-radius: 10px;
}


.estadisticas{
    margin:auto;
    height: 200px;
    width: 800px;
    color: white;
    font-family:'Poppins', sans-serif;
    display: flex;
}

.estadisticas ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    
}

.estadisticas ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:blue;
    color: aliceblue;
    border-radius: 10px;
    padding: 6px;
    margin-top: 35px;

}

.coders-container{
    height: 400px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
}

.coders-container img{
    height: 100%;
    width: 100%;
}

footer{
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    height: 12vh;
    border: solid black 3px;
 }

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: flex;
    align-content: center;
    height: 98%;
    display: flex;
}

img{
    height: 100%;
    width: 32px;
}
