body {
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul{
    height: 100%;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

header ul a {
    display: flex;
    color: white;
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 91vh;
    width: 100vw;

}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 33%;

}

.img-container img{
    height: 100%;
    width: 100%;
}