body {
    margin: 0;
    padding: 0;
}
header ul{
    height: 44px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

header ul a {
    display: flex;
    color: white;
    text-decoration: none;
}

main.img-container {
    display: flex;
    height: 86vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

img {
    width: 33%;
    height: 50%;
    margin: 0;
    padding: 0;
}

